<h1>Nuestro primer formulario</h1>
<form method="get" action="/posts/create">
  Titulo<input name="title" /> image_url<input name="image_url" />
  Contenido<input name="content" />
  <input type="submit" value="Enviar" />
</form>
